.navbar {
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, rgba(2,0,34,1) 0%, rgba(43,43,43,1) 50%, rgba(48,54,55,1) 100%);
    display: flex;
    flex-direction: row;
    position: fixed;
    font-family: "Apple SD Gothic Neo";
    z-index: 10;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar .leftSide img {
    width: 150px;
    height: 80px;
    cursor: pointer;
}

.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
}

.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .rightSide svg {
    font-size: 20px;
}

.navbar .rightSide .searchGroup {
    padding-left: 20px;
    display: flex;
    width: 150px;
}

.navbar #open {
    padding-left: 0;
}
.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 5px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 50px;
    margin: 5px;
}

h5 {
    cursor: pointer;
    text-shadow: 0 -1px #002749,
    0 2px 0 #012e55,
    0 4px 0 #013b6c,
    -2px -2px 15px #134f82,
    2px -2px 15px #134f82,
    2px 2px 15px #134f82
}

.navbar #open h5 {
    display: none;
}




@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
        width: 70px;
    }
    .navbar .leftSide {
        padding-left: 50px;
    }
    .navbar .rightSide .searchGroup {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        justify-content: flex-end;
        padding-right: 30px;
    }

    .navbar .rightSide button {
        display: inherit;
    }
    .navbar .rightSide .searchGroup {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .navbar .rightSide button {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }
    /*.navbar .rightSide .searchGroup {*/
    /*    display: none;*/
    /*}*/
}