.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(175,191,203,1) 0%, rgba(51,130,193,1) 50%);
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}

.table {
    margin: 120px 0 60px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    opacity: 0;
    animation: ani 2.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.table-container {
    border: 3px solid black;
    border-radius: 10px;
    max-width: 100%;
    min-width: 300px;
    height: fit-content;
}

.table-style {
    display: flex;
    width: 100%;
    font: 15px bold;
    font-family: sans-serif;
}


.th {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    min-width: 120px;
    color: black;
    background-color: #135284;
    border: 1px solid black;
    margin: 1px;
    height: 25px;
    cursor: pointer;
    font-family: "Apple SD Gothic Neo";
    font-weight: bold;
}


.table-column, .table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    min-width: 120px;
    border: 1px solid black;
    margin: 1px;
    height: 25px;
    color: black;
    cursor: pointer;
    font-family: "Apple SD Gothic Neo";
}


.place-col {
    max-width: 40px;
    min-width: 40px;
}

.th {
    cursor: pointer;
    border: 1px solid black;
}


.team-item {
    width: 30px;
    height: 25px;
    max-width: 100%;
    min-width: 30px;
}

.team-item-title {
    width: 30px;
    height: 25px;
}


