body {
    background: -webkit-linear-gradient(90deg, #49a09d, #5f2c82);
    background: linear-gradient(90deg, rgba(175,191,203,1) 0%, rgba(51,130,193,1) 50%);
    font-family: sans-serif;
    font-weight: 100;
}

.table {
    padding: 120px 0 0 0;
    display: flex;
    justify-content: center;
}

.table-style {
    display: flex;
    width: 100%;
    font: 15px bold;
    font-family: sans-serif;
}


.th {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    min-width: 120px;
    color: black;
    background-color: #135284;
    border: 1px solid black;
    margin: 1px;
    height: 25px;
    cursor: pointer;
}


.table-column, .table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    min-width: 120px;
    border: 1px solid black;
    margin: 1px;
    height: 25px;
    color: black;
    cursor: pointer;
}

.place-col {
    max-width: 40px;
    min-width: 40px;
}

.th {
    cursor: pointer;
    border: 1px solid black;
}

.table-container {
    border: 3px solid black;
    border-radius: 10px;
}

.team-item {
    width: 30px;
    height: 25px;
}

.team-item-title {
    width: 30px;
    height: 25px;
}

