.App {
  text-align: center;
  animation: ani 2.5s forwards;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: auto;
  color: #ddd;
  padding: 50px;
  font-family: "Trebuchet MS";
  background: linear-gradient(90deg, #6848c1, #91b4ca, #6848c1);
}



